@import "../../../scoop/assets/css/rtl.min.css";

/* Your CSS code goes here
-------------------------------------- */

/*******************/
/* advanced search */
/*******************/

.search-header {
	float: left;
}

.search-header .menu-search-submit {
	left: 10px;
	right: auto;
}

.advanced-search .advanced-search-fields-wrapper .instructions {
	padding-left: 20px;
	padding-right: 0;
}

.advanced-search .advanced-search-fields-wrapper .instructions span {
	left: 0;
	right: auto;
}

/*********/
/* login */
/*********/

header .logo .login,
.sticky-header .logo .login {
	float: left;
}

/*******************/
/* navigation menu */
/*******************/

.nav-main {
	float: right !important;
}

/*****************/
/* auto complete */
/*****************/

.autocomplete-suggestions {
	text-align: right;
}

/* Subcategory Menu */

nav {
    float: right;
}

form.wpcf7-form {
    direction: rtl;
    display: flex;
}
.choosing-items {
    direction: ltr;
}

#sidebar{
    display: none;
}

i.fa.fa-arrow-circle-o-right.my-siddur {
	margin-left: 25px; 
	margin-right: 9px;       
	left: auto;
	right: 8px;
	transform: rotate(180deg);
}

/**************/
/* responsive */
/**************/

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

@media (min-width: 1200px) {}
	
@media (min-width: 992px) {}

@media (min-width: 768px) {}

@media (min-width: 481px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 1199px) {}

@media (min-width: 481px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 767px) {

	/********************/
	/* categories tiles */
	/********************/

	.tile-box-wrapper {
		float: right !important;
	}

}