@import "../../../scoop/assets/css/rtl.min.css";

/* Your CSS code goes here
-------------------------------------- */

/*******************/
/* advanced search */
/*******************/

.search-header {
	float: left;
}

/* Subcategory Menu */

nav {
    float: right;
}

form.wpcf7-form {
    direction: rtl;
    display: flex;
}
.choosing-items {
    direction: ltr;
}

#sidebar{
    display: none;
}

/*********/
/* login */
/*********/

header .logo .login,
.sticky-header .logo .login {
	float: left;
}

/**************/
/* responsive */
/**************/

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

@media (min-width: 1200px) {}
	
@media (min-width: 992px) {}

@media (min-width: 768px) {}

@media (min-width: 481px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 1199px) {}

@media (min-width: 481px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 767px) {

	/********************/
	/* categories tiles */
	/********************/

	.tile-box-wrapper {
		float: right !important;
	}

}