@import "../../../scoop/assets/css/style.min.css";

/* Your CSS code goes here
-------------------------------------- */

/******************/
/* geberal layout */
/******************/

body:before {
	content: "1200";
	display: none;
}

.entry-header {
	margin: 0;
}

/**********/
/* header */
/**********/

header .logo,
.sticky-header .logo {
	margin: 0;
	padding: 0;
	width: 15%;
	max-width: 171px;
	max-height: unset;
}

header .logo img,
.sticky-header .logo img {
	margin: 0;
	width: auto !important;
	max-width: 100%;
}

#primary #content,
#primary #content #main {
	margin-top: 0;
}

/*******************/
/* advanced search */
/*******************/

.search-header {
	position: relative;
	float: right;
	width: 20%;
	max-width: 230px;
	line-height: normal !important;
}

.search-header .menu-search-input {
	margin: 10px 0;
	display: block;
}

.search-header .menu-search-input-text .menu-search-input {
	margin: 0 0 5px;
}

.search-header .menu-search-input input,
.search-header .menu-search-input select {
	padding: 0 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid gray;
	border-radius: 0;
}

.search-header .menu-search-input input {
	padding: 0 14px;
	color: #000;
}

.search-header .menu-search-input input::-webkit-input-placeholder {
	color: #000;
}

.search-header .menu-search-input input::-moz-placeholder {
	color: #000;
}

.search-header .menu-search-input input:-ms-input-placeholder {
	color: #000;
}

.search-header .menu-search-input input:-moz-placeholder {
	color: #000;
}

.search-header .menu-search-input input::placeholder {
	color: #000;
}

.search-header .menu-search-submit {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 15px;  
}

.search-header .menu-search-submit input {
	border: 0;
	font-size: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	width: 15px;
	height: 15px;
	padding: 0;
}

.advanced-search .advanced-search-btn a {
	color: #0000ff;
	text-decoration: underline;
	cursor: pointer;
}

.advanced-search .advanced-search-fields-wrapper {
	display: none;
}

.advanced-search .advanced-search-fields-wrapper .instructions {
	position: relative;
	margin-bottom: 10px;
	padding-right: 20px;
}

.advanced-search .advanced-search-fields-wrapper .instructions span {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 18px;
	font-size: 30px;
	cursor: pointer;
}

.search-header.advanced .menu-search-submit,
.search-header.advanced .advanced-search .advanced-search-btn {
	display: none;
}

.search-header.advanced .advanced-search-fields-wrapper {
	display: block;
}

#modal-search .search-header {
	float: none;
	margin: 0;
	width: 100%;
}

/************************/
/* search header mobile */
/************************/

header .search-header.mobile,
.sticky-header .search-header.mobile {
	margin: 2px 15px;
	width: 20px;
	height: 20px;
}

header .search-header.mobile span,
.sticky-header .search-header.mobile span {
	font-size: 20px;
}

/*********/
/* login */
/*********/

header .logo .login,
.sticky-header .logo .login {
	float: right;
}

header .logo .login a,
.sticky-header .logo .login a {
	font-family: 'Assistant', Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	text-transform: none;
}

/*******************/
/* navigation menu */
/*******************/

.nav-main {
	width: 62%;
}

.nav-main .nav-main-inner {
	display: block;
}

.nav-main .nav-main-inner ul.sf-menu li a {
	line-height: 40px;
}

.nav-main .nav-main-inner > ul.sf-menu > li:hover > ul,
.nav-main .nav-main-inner > ul.sf-menu > li.sfHover > ul {
	top: 40px;
}

/********************/
/* categories tiles */
/********************/

.tile-box-wrapper,
.tile-box-wrapper-child-cat {
	padding-top: 15px;
	padding-bottom: 15px;
}

.tile-box-wrapper-child-cat {
	width: 290px;
	height: 310px;
}

.tile-box-link {
	position: relative;
	padding-top: 100%;
	background: rgba(255,255,255,0.2);
	background: linear-gradient(
			180deg,
			rgba(255,255,255,0.3) 36%,
			rgba(7,21,147,0.45) 100%);
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
	display: block;
}

.tile-box-link,
.tile-box-link:hover {
	color: #FFF;
}

.tile-box,
.tile-box-content {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.tile-box-link h2 {
	position: relative;
	margin: 0;
	padding: 0 5%;
	line-height: 25px;
	font-weight: bold;
	font-size: 160%;
	color: #FFF;
	top: 50% !important;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

.tile-box-wrapper.tile-bg .tile-box-link h2,
.tile-box-wrapper-child-cat.tile-bg .tile-box-link h2 {
	text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
}

.tile-box-album .tile-box-link,
.tile-box-upload .tile-box-link {
	background: rgba(255,255,255,0.2);
	background: linear-gradient(
			180deg,
			rgba(255,255,255,0.3) 36%,
			rgba(145,7,48,0.45) 100%);
	background-position: 50% 50%;
	background-size: cover;
	text-align: center;
}

.tile-box-album .tile-box-link p,
.tile-box-upload .tile-box-link p {
	position: absolute;
	line-height: normal;
	margin: 5% auto 0;
	bottom: 10%;
	left: 5%;
	width: 90%;
}

.tile-box-content i {
	position: absolute;
	margin-left: -43px;
	padding: 15px;
	top: 20%;
	left: 50%;
	width: 86px;
	height: 86px;
	font-size: 50px;
	border: 3px solid #fff;
	border-radius: 50%;
	display: none;
}

/**************/
/* page title */
/**************/

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	border-radius: 4px;
}

.breadcrumb a {
	text-decoration: none;
}

.page-title h1 {
	font-size: 36px;
	font-weight: bold;
}

.page-title .more,
.page-title .less {
	position: relative;
	margin: 0px 15px;
	width: 30px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
}

.page-title .less {
	display: none;
}

.page-title .more svg,
.page-title .less svg {
	fill: #2093c8;
}

.page-title .more.open {
	display: none;
}

.page-title .less.open {
	display: inline-block;
}

.category-desc {
	display: none;
}

.category-desc.open {
	display: block;
}

h2.post-type-title {
	font-size: 32px;
	font-weight: bold;
}

/*******************/
/* bootstrap modal */
/*******************/

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
	margin: 0;
}

.modal {
	z-index: 10000;
}

.modal .modal-dialog-centered {
	max-width: 500px;
	min-height: calc(100% - (1.75rem * 2));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.modal .modal-dialog-fullscreen {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.modal .modal-dialog-fullscreen .modal-content {
	height: 100%;
	border: 0;
	border-radius: 0;
	opacity: 0.9;
}

.modal .modal-dialog-fullscreen .modal-header {
	height: 60px;
	border: 0;
}

.modal .modal-dialog-fullscreen .modal-header button {
	font-size: 40px;
	opacity: 1;
}

.modal .modal-dialog-fullscreen .modal-body {
	top: 20%;
}

.modal .modal-content {
	width: 100%;
}

.modal .modal-header .modal-title {
	display: inline-block;
}

.modal .modal-header button {
	margin: 0;
	font-size: 28px;
}

.modal .pre-text {
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
	display: none;
}

.modal .modal-footer .btn-primary,
.modal .modal-footer .btn-secondary {
	margin: 0;
	padding: 6px 12px;
	width: auto;
	line-height: 26px;
	font-family: 'Oswald', Arial, sans-serif;
	font-weight: normal;
	color: #FFF;
	text-transform: uppercase;
	border: 0;
	border-radius: 4px;
	display: inline-block !important;
}

.modal .btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}

.modal .btn-primary:hover,
.modal .btn-primary:focus {
	background-color: #0069d9;
	border-color: #0062cc;
}

.modal .btn-secondary {
	background-color: #6c757d;
	border-color: #6c757d;
}

.modal .btn-secondary:hover,
.modal .btn-secondary:focus {
	background-color: #5a6268;
	border-color: #545b62;
}

.modal-backdrop {
	background-color: transparent;
	-webkit-transition: all .15s linear;
    transition: all .15s linear;
}

/*****************/
/* auto complete */
/*****************/

.autocomplete-suggestions {
	z-index: 10000;
}

/**********************/
/* accessibility icon */
/**********************/

#pojo-a11y-toolbar {
	visibility: hidden;
}

/*************************/
/* post types posts grid */
/*************************/

.post-type-posts-grid .post-type-sub-title {
	font-size: 20px;
	color: #428bca;
	cursor: pointer;
	-webkit-transition:	none;
	-moz-transition:	none;
	-o-transition:		none;
	transition:			none;

}

.post-type-posts-grid .post-type-sub-title.more,
.post-type-posts-grid.open .post-type-sub-title.less {
	visibility: visible;
}

.post-type-posts-grid .post-type-sub-title.less,
.post-type-posts-grid.single-post-type .post-type-sub-title.more,
.post-type-posts-grid.single-post-type .post-type-sub-title.less {
	visibility: hidden;
}

.post-type-posts-grid > .row {
	height: auto !important;
}

.post-type-posts-grid > .row .grid-item {
	margin-bottom: 0;
	position: static !important;
	display: none;
}

.post-type-posts-grid > .row .grid-item:nth-child(3n+1) {
	clear: both;
}

.post-type-posts-grid > .row .grid-item:nth-child(-n+3),
.post-type-posts-grid.open > .row .grid-item {
	margin-bottom: 30px;
	display: block;
}

/*************/
/* my siddur */
/*************/

.page-template-template-siddur .grid-item:nth-child(3n+1),
.page-template-template-siddur-folder .grid-item:nth-child(3n+1),
.page-template-template-single-public-folder .grid-item:nth-child(3n+1) {
	clear: both;
}

/***********/
/* general */
/***********/

@media print {
	footer
	{
		display:none;
	}
	.print-button{
		display:none;
	}
	.entry-meta{
	   display:none;
	}
	.breadcrumb{
	   display:none;
	}
	.entry-sharing.col-sm-1{
		display:none;
	}
	#comments{display:none;}
	#respond{display:none;}
	.entry-format{display:none;}
	#pojo-a11y-toolbar{display:none;}
}

.print-button {
	width: 39px;
}

.page-template-template-siddur #content p{
	text-align: center;
	font-weight: bold;
}

.submit_reg ,.submit_log{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 115px;
	display: block !important;
}
.registration_form, .login_form{
	margin: auto;
	width: 50%;
	margin-top: 50px;
	margin-bottom: 60px;
}

.registration_form a, .login_form a {
	margin-top: 20px;
}

.loader {
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	right: 0;
	transition: all .4s;
	z-index: 9999;
}

.loader img {
	position: fixed;
	width: 70px;
	height: 70px;
	top: calc(50vh - 50px);
	right: calc(50vw - 50px);
}
.print-button img {
	width: 45px;
}
.favorite {
	display: inline;
}
.siddur-button {
	position: relative;
	display: inline-block;
}
.rating-form {
	margin-top: 1em;
	margin-bottom: 1em;
}
label.description {
	margin-right: 10px;
	margin-bottom: 0;
	display: inline-block;
	font-weight: bold;
	width: 6%;
}
label.description:lang(en-US) {
	margin-right: 10px;
	margin-bottom: 0;
	display: inline-block;
	font-weight: bold;
	width: 10%;
}
output:lang(he-IL) {
	position: relative;
	left: -1%;
}
input[name=range-option] {
	margin-right: 14px;
	display: inline-block;
}


/* filling slider */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type='range'] {
	  overflow: hidden;
	  -webkit-appearance: none;
	  -webkit-appearance: none;
	  width: 20%;
	  height: 15px;
	  border-radius: 10px;
	  background: #d3d3d3;
	  outline: none;
	  opacity: 0.7;
	  -webkit-transition: .2s;
	  transition: opacity .2s;
	  direction: ltr;
	  cursor: pointer;
	 
	}
	
	input[type='range']::-webkit-slider-runnable-track {
	  height: 10px;
	  -webkit-appearance: none;
	  color: #1e73be;
	  margin-top: -1px;
	}
	
	input[type='range']::-webkit-slider-thumb {
	  width: 12px;
	  -webkit-appearance: none;
	  height: 12px;
	  border-radius: 50%;
	  cursor: pointer;
	  background: #022a4d;
	  box-shadow: -1000px 0 0 1000px #1e73be;
  
	}

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #1e73be; 
}
input[type="range"]::-moz-range-track {  
  background-color: #d3d3d3;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #1e73be; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #d3d3d3;
}
.slider::-moz-range-thumb {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #1e73be;
	cursor: pointer;
}
.range-rating{
	position: relative;
	margin-top: 1.2%;
}
input.save-rating {
	margin-top: 2%;
}


/* folders */
.add-new-folder{
	background-image: url(../images/folder-with-plus-symbol.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	margin-bottom: 10px;
	background-color: transparent;
	border: none;
}
div#new-fold
	{width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 10vh;
	z-index: 9999;
	background-color: rgba(0,0,0,.7);
	opacity: 1;
	transition: opacity 1s;
}

#popup-settings,#popup-link-copy,
.share-popup {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,.7);
}

#popup-settings.open,#popup-link-copy.open,
.share-popup.open { 
	right: 0; 
	opacity: 1;
}

input#name-folder,
input#name-new-folder {
	margin: 10px 0;
	max-width: 400px;
}

.popup-form,
.popup-form-setting,
.share-popup-inner {
	width: 400px;
	margin: auto;
	min-height: 10vh;
	position: relative;
	top: 10vh;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	transition: all .5s;
}

.share-popup-inner { text-align: center; }

/* .popup-form-setting.for-public { width: 800px; } */

.public-info { 
	display: flex;
	justify-content: space-around;
	max-height: 0px;
	overflow: hidden;
	transition: all .8s;
	transition-delay: .4s;
}

/* .popup-form-setting.for-public .public-info { max-height: 800px; } */

.description-area,
.cat-area { width: 45%; }

.response {
	font-size: 1.2em;
	text-align: center;
}

.select-cat {
	overflow-y: scroll;
	max-height: 30vh;
	border: 1px solid #ccc;
}

.select-cat ul { padding: 0; }

.select-cat ul li ul,
.select-cat ul li ul li ul,
.select-cat ul li ul li ul li ul { padding-right: 30px; }

.select-cat ul li { list-style: none; }

input.add-save-folder,
input.save-settings {
	margin: 20px auto;
	display: block;
}

.close-popup,
.close-popup-settings,
.close-popup-link,
.close-share-popup {
	transform: rotate(45deg);
	width: fit-content;
	font-size: 70px;
	cursor: pointer;
	position: absolute;
	right: -50px;
	color: white;
}

labal.name {
	font-weight: bold;
	font-size: 125%;
}
.folder {
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	top: 53%;
	position: relative;
	height: calc(14px * 1.4 * 2);
	color: black;
	width: 83px;
	-webkit-line-clamp: 2;
	line-height: 1.4;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: auto;
}

.link-folder {
	width: 100%;
	height: 100%;
	background-image: url(../images/folder.png);
	background-position: top;
	background-size: 40%;
	background-repeat: no-repeat;
}

labal.add-post-to-folder {
	font-size: 30px;
	cursor: pointer;
	position: relative;
	left: 359px;
	z-index: 2;
}
.close-popup-folders{
	transform: rotate(45deg);
	width: fit-content;
	font-size: 29px;
	cursor: pointer;
}
.popup-form-div{
	width: 400px;
	margin: auto;
	position: relative;
	top: 25%;
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	text-align: center;
}
.add-to-folder{
	margin-top:6%;
}
.remove-post-from-folder{   
	right: 50px;
	color: #433f3f;
	z-index: 2;
	top: 8px;
	position: absolute;
	cursor: pointer;
	width: 37px;
	height: 33px;
	font-size: 60px;
	border-radius: 50%;
	border: thin solid #000;
	text-align: center;
}
.add-post-to-folder {
	right: 50px;
	color: #433f3f;
	z-index: 2;
	top: 20px;
	position: absolute;
	cursor: pointer;
	width: 37px;
	height: 33px;
	font-size: 50px;
	border-radius: 50%;
	border: thin solid #000;
	text-align: center; 
}
.settings, 
.shere-section { display: inline-block; }

.settings .fa {
	display: inline-block;
	font-size: 37px;
	cursor: pointer;
}
span.fa.fa-clipboard{
	color: #1b5d9d;
} 
input#clipboard-input{
	display: none;
}
label.labal-del {
	margin-left: 11px;
}
span.fa.fa-envelope-o.share-folder {
	font-size: 32px;
	margin-right: 25px;
	cursor: pointer;
}
.shere-section a {
	font-size: 32px;
	margin-right: 15px;
}
.close-popup-to{
	transform: rotate(45deg);
	width: fit-content;
	font-size: 29px;
	cursor: pointer;
}
#popup-to{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 232;
	background-color: rgba(0,0,0,.7);
}
label.remove-post-from-folder:hover {
	color: red;
	font-size: 65px;
}
label.add-post-to-folder:hover{
	color: red;
	font-size: 55px;
}
i.fa.fa-arrow-circle-o-right.my-siddur {
	margin-right: 25px; 
	margin-left: 9px;       
	font-size: 33px;
	cursor: pointer;
	color: black;
	left: 8px;
	position: relative;
}
.single-folder-wrap {
	width: 160px;
	height: 160px;
	border: 1px solid #d8d2d2;
	padding-top: 29px;
}
.wrap-all-folders{
	display: grid;
	position: relative;
	grid-template-columns: auto auto auto auto auto auto;
	grid-row-gap: 30px;
	grid-column-gap: 30px;
	justify-content: flex-start;
}
input#sendTo {
	position: relative;
	top: 14px;

}
img.media-object.thambnail {
	width: 100%;
	height: 250px;
	object-fit: cover;
}
input.slidert {
	width: 46px;
	height: 7px;
}
input.slidert:lang(en-US) {
	width: 41px;
	height: 7px;
}
div#popUp {
	background: rgba(0,0,0,.6);
	width: 17vw;
	height: 8vh;
	border-radius: 50%;
	color: white;
	text-align: center;
	margin-top: 3%;
}
p.txtMashov {
	position: relative;
	top: 30%;
	font-weight: bold;
}
p.txtsl {
	 margin: 0;
	display: inline-block;
	font-size: 65%;
	font-weight: bold;
	margin-right: 2.5%;
   
}
p.txtsl:lang(en-US) {
  margin-right: 0%;
  margin-left: 2%;
 
}
.generalIconX{
	background-image: url(../images/icon_X.png);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 1vw;
	height:  1.7vh;
	display: inline-block;
	vertical-align: middle;
}
.generalIconX:lang(en-US)
{
	width: 0.7vw;
}
.generalIconV{
	background-image: url(../images/icon_V.png);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 1vw;
	height:  1.7vh;
	display: inline-block;
	vertical-align: middle;
}
.religiosityIcon-{
	background-image: url(../images/icon_notRegilies.jpg);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 1vw;
	height:  1.7vh;
	display: inline-block;
	vertical-align: middle;
}
.religiosityIcon-:lang(en-US)
{
	width: 0.7vw;
}
.religiosityIconV{
	background-image: url(../images/icon_regilies.jpg);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 1vw;
	height:  1.7vh;
	display: inline-block;
	vertical-align: middle;
}
.authenticIcon-{
	background-image: url(../images/icon_like-.jpg);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 1vw;
	height: 1.7vh;
	display: inline-block;
	vertical-align: middle;
}
.authenticIcon-:lang(en-US)
{
	width: 0.7vw;
}
.authenticIconV{
	background-image: url(../images/icon_like.jpg);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 1vw;
	height: 1.7vh;
	display: inline-block;
	vertical-align: middle;
}
.bars-t{
	border-top: solid 1px;
	border-bottom: solid 1px;
	padding-top: 2%;
	padding-bottom: 2%;
}
.favorite span{  
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.siddur-wrap .entry-thumbnail {
	margin-top: 2%;
}


/* remove title bar in hompage */
div#title-bar {
	display: none;
} 

.row.subcat-menu{

   display:flex;
   justify-content:space-between;
} 
 .tile-box-wrapper.col-md-3.subcat{
	background:#dbd1d1;
}
.embed{display: flex;}

/*== Search form in navigation ==*/

.nav-main .nav-main-inner {
	align-items: center;
}

#whatsapp-share{
	display:none;
}
#telegram-share{
	display:none;
}

.entry-meta span:before{
	color:transparent;
}
.custom-embed{
	display: flex;
}

#primary #main.sidebar-right{
	border-right: 0px solid !important;
	border-left: 0px solid !important;
	padding-right: 0 !important;
	padding-left: 0 !important;

}
#all-folders.show {
	right: 0;
	opacity: 1;
}
#all-folders {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,.7);
	transition: opacity 1s;
}
#all-folders .all-input {
	max-height: 200px;
	overflow: auto;
}
.close-popup-folders {
	transform: rotate(45deg);
	width: fit-content;
	font-size: 70px;
	cursor: pointer;
	position: absolute;
	right: -50px;
	color: white;
}
form.sendEmailpopup {
	width: 400px;
	margin: auto;
	top: 25%;
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	text-align: center;
	position: relative;
}
.to{
	direction: ltr;
}
#sidebar{
	display: none;
}
#main{
	width: 100% !important;
}
#popup-to.show{
	right: 0;
	opacity: 1;
}
div#new-fold.show {
	right: 0;
	opacity: 1;
}
#name-folder-hide{display: none;}

form.wpcf7-form > div {
	margin: 0 10px;
}

form.wpcf7-form textarea {
	height: 217px;
}

input.wpcf7-form-control.wpcf7-submit {
	margin: 0 auto 0 0;
	width: 120px;
	display: block;
}

/* sharing */
.fa {
	cursor: pointer;
}
span.fa.fa-facebook {
	color: #1b5d9d;
}
span.fa.fa-twitter {
	color: dodgerblue;
}
span.fa.fa-whatsapp {
	color: #32c432;
}
span.fa.fa-telegram {
	color: #2b9fd1;
}
span.fa.fa-envelope-o {
	color: #b83434;
}
i.fa.fa-cog {
	color: #427099;
}
span.fa.fa-print {
	color: black;
}
section#main{
	width: 100%;
}
.description {
	margin-right: 10px;
	margin-bottom: 0;
	display: inline-block;
	font-weight: bold;
	width: 6%;
}
output:lang(he-IL) {
	position: relative;
	left: -1%;
}

/**************/
/* responsive */
/**************/

/**
 * These values will not show up in content, but can be 
 * queried by JavaScript to know which breakpoint is active
 */

@media (max-width: 1199px) {
	body:before {
		content: "1199";
	}
}

@media (max-width: 991px) {
	body:before {
		content: "991";
	}
}

@media (max-width: 767px) {
	body:before {
		content: "767";
	}
}

@media (max-width: 480px) {
	body:before {
		content: "480";
	}
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {

	/**********/
	/* header */
	/**********/

	header .logo,
	.sticky-header .logo {
		width: 100%;
	}

	header .logo .logo-img,
	.sticky-header .logo .logo-img {
		width: 45% !important;
	}

	/*******************/
	/* navigation menu */
	/*******************/

	.nav-main {
		width: 100%;
	}

	/********************/
	/* categories tiles */
	/********************/

	.homepage-bg {
		background-size: auto 100% !important;
		background-attachment: fixed;
		background-position: 50% 0px !important;
	}

	.tile-box-wrapper-child-cat {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}

}

@media (max-width: 480px) {

	/********************/
	/* categories tiles */
	/********************/

	.tile-box-wrapper {
		width: 100%;
	}

	.tile-box-link {
		margin: 0 auto;
		padding-top: 280px;
		width: 280px;
	}

}

@media (min-width: 1200px) {}
	
@media (min-width: 992px) {}

@media (min-width: 768px) {

	/**********/
	/* header */
	/**********/

	#header,
	.sticky-header {
		padding: 20px 0;
	}

	/********************/
	/* categories tiles */
	/********************/

	.tile-box-link .desc {
		position: absolute;
		padding: 10px 20px;
		top: 100%;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.65);
		-webkit-transition: top .4s ease-out;
		-moz-transition:    top .4s ease-out;
		-o-transition:      top .4s ease-out;
		transition:         top .4s ease-out;
	}

	.tile-box-link .desc .desc-content {
		line-height: 21px;
		max-height: 252px;
		overflow: hidden;
	}

	.tile-box-link .more {
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -12px;
		width: 24px;
		height: 24px;
	}

	.tile-box-link .more svg {
		fill: #FFF;
	}

	.tile-box-link:hover .desc {
		top: 0;
	}

	.tile-box-link:hover .more {
		display: none;
	}

}

@media (min-width: 481px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 1199px) {}

@media (min-width: 481px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 767px) {

	/********************/
	/* categories tiles */
	/********************/

	.tile-box-wrapper {
		float: left !important;
	}

}

@media screen and (max-width: 500px) {

	body.admin-bar .sticky-header {
		top:0 !important;
	}

	#wp-admin-bar-root-default 
	{
		overflow-x: hidden;
		width: 100%;
	}
	html{
		overflow-x: hidden;
		width: 100%;
	}
	body{
		overflow-x: hidden;
		width: 100%;
	}
	.wrap-all-folders {
		position: relative;
		display: block;
		width: 100%;
	}

	.single-folder-wrap {
		margin: 10px;
		width: 44%;
	}

	.add-new-folder {
		margin-right: 15px;
	}

	.siddur-wrap .type-post {
		float: right !important;
		margin-top: 20px !important;
	}

	.popup-form-div, .popup-form-setting, .sendEmailpopup, .share-popup-inner {
		width: 75% !important;
	}

	.close-popup-folders, .close-popup-settings, .close-share-popup {
		font-size: 50px;
		cursor: pointer;
		position: relative;
		color: black;
		bottom: 0px;
		right: 0;
	}
	.folder-wrap .entry-title{
		margin-right: 15px;
	}
	.folder-wrap .settings{
		margin-right: 25px;
		margin-bottom: 15px;
	}
	.close-popup-to{
		font-size: 50px;
	}
	.entry-sharing{
		display: -webkit-box !important;
	}
	.print-button{
		display: none;
	}
	#whatsapp-share
	{
		display: inline-block;
	}
	#telegram-share
	{
		display: inline-block;
	}
   .wrap-sharing-public
   {
	   display: inline-flex;
   }
   .wrap-sharing-public>a{
		padding: 10px;
   }

}