/**********/
/* colors */
/**********/

$color-1:		#EEEBE9;
$color-2:		#F3E8E2;
$color-3:		#F6F6F6;
$color-4:		#FFFFFF;
$color-5:		#CBDEE6;
$color-6:		#FFD8BC;
$color-7:		#FFF1CC;

$title-color:	#000000;
$title-hover:	#000000;

$menu-color:	#2D2D2D;
$menu-hover:	#2D2D2D;

$font-color:	#2D2D2D;
$hover-color:	#2D2D2D;

$link-color:	#00587E;
$link-hover:	#00587E;