@import "../../../scoop-child-v2/assets/css/style.css";
@import "functions";

/***********/
/* general */
/***********/

button {
	padding: 0;
	border: 0 !important;
	@include border-radius(24.5px);

	a {
		padding: 10.5px 27px;
		line-height: 1.5;
		color: inherit !important;
		display: block;
	}

	&[type="submit"] {
		padding: 10.5px 27px !important;
	}
}

.button {
	padding: 10.5px 27px;
	line-height: 1.5;
	border: 0 !important;
	@include border-radius(24.5px);
}

.scroll-top {
	margin: 200px auto;
	width: 186px;
	height: 200px;

	span {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: $color-1;
		background-image: url('../images/icons/up.png');
		background-position: center center;
		background-repeat: no-repeat;
		border: 1px solid #979797;
		@include border-radius(50% 50% 32% 68% / 64% 70% 30% 36%);
		@include transition(all, .2s);
		cursor: pointer;
		display: block;
		z-index: 100;

		&:hover {
			background-color: $color-2;
		}
	}
}

.not-allowed-content {
	margin-top: 40px;
}

/********/
/* body */
/********/

::-webkit-scrollbar-thumb {
	border-radius: 50px;
	border: 5px solid $color-3;
	display: none;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: $color-3;
	height: 100px;
	display: none;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: $color-3;
	height: 16px !important;
	display: none;
}

::-webkit-scrollbar-thumb:hover {
	background-color: $color-1;
	display: none;
}

::-webkit-scrollbar {
	height: 16px;
	width: 16px;
	background-color: $color-3;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: $color-3;
	display: none;
}

/**********/
/* header */
/**********/

#header {
	position: fixed;
	width: 100%;
	border-top: 0;

	.container {
		max-width: 100%;
	}

	/*******/
	/* nav */
	/*******/

	.nav-login {
		float: right;

		ul {
			margin: 0;
			padding: 0;

			li {
				float: left;
				list-style: none;
				@include opacity(1);

				a {
					span {
						display: block;

						&:after {
							content: "";
							background-position: 50% 50%;
							background-repeat: no-repeat;
							display: block;
						}
					}
				}

				&.search a span:after { width: 15px; background-image: url('../images/icons/search.png'); }
				&.login a span:after { width: 17px; background-image: url('../images/icons/login.png'); }
				&.menu a span:after { width: 15px; background-image: url('../images/icons/menu.png'); }

				&.close {
					a {
						span {
							&:after { width: 15px; background-image: url('../images/icons/close.png'); }
						}
					}
				}
			}
		}
	}
}

/************/
/* nav-main */
/************/

.nav-main {
	.sf-menu {
		display: block;

		& > li {
			& > a {
				display: inline-block;
			}
		}

		li {
			a {
				span {
					background: transparent !important;
				}
			}

			&.upload a:after {
				content: "";
				position: absolute;
				top: 27px;
				right: -15px;
				width: 21px;
				height: 19px;
				background: url('../images/icons/upload.png') no-repeat;
			}
		}
	}
}

/********/
/* main */
/********/

body.page-template-main {
	#primary {
		& > .container {
			max-width: 100%;

			#content {
				.main-wrapper {
					.main-layout-title-wrap {
						text-align: center;

						h2 {
							margin: 0;
						}
					}
				}
			}
		}
	}
}

/***************/
/* main banner */
/***************/

.main-banner {
	position: relative;

	.slide {
		width: 100%;

		&.linked {
			cursor: pointer;
		}

		.text-wrap {
			font-family: Arial, sans-serif;
			background-color: #FFF;

			.title {
				font-weight: bold;
			}
		}
	}

	.controls {
		.control {
			float: left;
			border-radius: 50%;
			cursor: pointer;

			&:before {
				position: absolute;
				content: "";
				width: 14px;
				height: 8px;
			}

			&.cycle-next {
				&:before {
					background-image: url('../images/icons/path.png');
				}
			}
		}

		.cycle-caption {
			margin-left: 12px;
			font-size: 14px;
		}
	}
}

/*******************************************/
/* main recent posts / main posts carousel */
/*******************************************/

.main-recent-posts,
.main-posts-carousel {
	.more-posts {
		line-height: 48px;
		border: 1px solid #E8E8E8;
		text-align: center;

		a {
			font-size: 14px;
			font-weight: bold;
			color: #000;
			display: block;

			span {
				position: relative;
				display: inline-block;

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 100%;
					width: 20px;
					height: 48px;
					background: url('../images/icons/right.png') center right no-repeat;
				}
			}
		}
	}
}

/***********************/
/* main posts carousel */
/***********************/

.main-posts-carousel {
	.kulam-slideshow {
		.main-layout-title-wrap {
			.kulam-slideshow-title {
				margin-bottom: 0;
			}
		}

		.posts-wrap {
			.pojo-slideshow.slideshow-bullets {
				padding-bottom: 23px;
			}

			.post-wrap {
				.post-info {
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
		}
	}
}

/**************/
/* main image */
/**************/

.main-image {
	text-align: center;
}

/**********************/
/* main image gallery */
/**********************/

.main-image-gallery {
	.gallery-wrap {
		.image-wrap {
			height: 150px;
			text-align: center;

			img {
				@include vertical-align;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}

/********************/
/* category archive */
/********************/

body.archive {
	#primary {

		/******************/
		/* archive header */
		/******************/

		header {
			#breadcrumbs {
				margin-bottom: 50px;

				.current {
					font-weight: bold;
				}
			}

			.page-title {
				h1 {
					position: relative;

					&.has-icon {
						padding-left: 59px;
						background-position: left center;
						background-repeat: no-repeat;

						span {
							@include vertical-align;
							position: absolute;
						}
					}

					span {
						line-height: normal;
					}
				}
			}

			/**********************/
			/* nav-sub-categories */
			/**********************/

			.nav-sub-categories {
				.sf-menu {
					margin: 0 0 20px;
					padding-left: 30px;
					overflow: hidden;
					display: block;

					& > li {
						& > a {
							display: inline-block;
						}
					}

					li {
						a {
							span {
								background: transparent !important;
							}
						}
					}
				}
			}
		}

		/********************/
		/* category filters */
		/********************/

		.category-filters {
			line-height: unset;
			font-size: 14px;
			font-weight: bold;
			text-align: left;
			display: none;

			.filters-menu {
				overflow: hidden;

				/**********************/
				/* filters selections */
				/**********************/

				.filters-selections {
					padding: 0;
					color: #000;
					list-style: none;

					li {
						position: relative;
						border-style: solid;
						border-color: #E8E8E8;

						a {
							padding: 10px 45px 10px 15px;
							line-height: unset;
							font-size: inherit;
							color: #000 !important;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;

							&:after {
								content: "";
								position: absolute;
								top: 17px;
								right: 6px;
								width: 7px;
								height: 7px;
								@include transform(rotate(45deg));
								border-style: solid;
								border-color: #000;
								border-width: 0 1px 1px 0;
							}
						}

						span {
							position: absolute;
							padding: 10px 0;
							top: 0;
							right: 20px;
						}
					}
				}
			}

			.reset-filters {
				float: right;
				position: relative;
				padding-right: 20px;
				cursor: pointer;

				&:after {
					content: "";
					position: absolute;
					top: 0px;
					right: 0px;
					width: 20px;
					height: 100%;
					background: url('../images/icons/filter.png') right center no-repeat;
				}
			}

			.checked-filters {
				float: left;
				padding: 0;
				display: none;

				li {
					float: left;
					position: relative;
					margin: 0 12px 12px 0;
					padding: 0 35px 0 10px;
					line-height: 33px;
					font-size: 11px;
					font-weight: 600;
					border: 1px solid #E8E8E8;
					@include border-radius(17.5px);

					.remove {
						position: absolute;
						top: 0;
						right: 10px;
						width: 14px;
						height: 100%;
						font-size: 14px;
						color: #666;
						text-align: right;
						cursor: pointer;
					}
				}
			}
		}
	}
}

/************/
/* post box */
/************/

.post-wrap {
	position: relative;
	margin-bottom: 30px;
	color: #000;
	background-color: #FFF;
	@include box-shadow(0, 3px, #E8E8E8, 32px, 0);
	cursor: pointer;

	.post-image {
		position: relative;
		padding-top: 64.102564103%;
		background-color: #FFF;
		border-bottom: 1px solid #E8E8E8;
		overflow: hidden;
		@include transition(all, .2s);

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			@include transition(all, .2s);
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../images/buttons/read-more.png') center center no-repeat;
			display: none;
		}
	}

	&:hover {
		.post-image {
			background-color: #000;

			img {
				@include transform(scale(1.2));
				@include opacity(.47);
			}

			&:after {
				display: block;
			}
		}
	}

	.post-meta {
		.title {
			line-height: normal;
			font-weight: bold;
		}

		.terms_list {
			margin: 20px 0 0;
			padding: 0;
			list-style: none;
			overflow: hidden;

			li {
				float: left;
				margin: 0 5px 5px 0;
				padding: 5px 6px;
				line-height: normal;
				font-size: 11px;
				font-weight: bold;
				color: #FFF;
				@include border-radius(12.5px);
				background-color: #B7B7B7;
				display: inline;
			}
		}
	}

	.more {
		span {
			position: relative;
			font-weight: bold;
			display: inline-block;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 100%;
				width: 20px;
				height: 25px;
				background: url('../images/icons/path.png') center right no-repeat;
			}
		}
	}
}

/***********************/
/* registration banner */
/***********************/

.registration-banner-wrap {
	margin: 30px 0 50px;
	@include box-shadow(0, 3px, #E8E8E8, 32px, 0);
	overflow: hidden;

	.registration-banner {
		background-color: #FFF;
		background-repeat: no-repeat;
		background-size: cover;
		@include border-radius(4px);

		.text-wrap {
			color: #000;

			.title {
				line-height: normal;
				font-weight: bold;
			}

			.text {
				line-height: normal;
			}
		}

		.buttons-wrap {
			&.register-not-allowed {
				text-align: center;

				button {
					float: none !important;
				}
			}
		}
	}
}

/********/
/* page */
/********/

body.page {
	#primary {

		/**********/
		/* header */
		/**********/

		header {
			#breadcrumbs {
				margin-bottom: 50px;

				.current {
					font-weight: bold;
				}
			}
		}
	}
}

/**********/
/* single */
/**********/

body.single {
	#primary {

		/**********/
		/* header */
		/**********/

		header {
			#breadcrumbs {
				margin-bottom: 50px;

				.current {
					font-weight: bold;
				}
			}
		}

		/********************/
		/* entry taxonomies */
		/********************/

		.entry-taxonomies {
			margin-bottom: 30px;

			.taxonomies {
				padding: 25px;
				background-color: #FFF;
				@include box-shadow(0, 3px, #E8E8E8, 32px, 0);

				.category-title {
					position: relative;
					margin: 0 0 20px;

					&.has-icon {
						padding-left: 38px;
						min-height: 70px !important;
						background-position: left center;
						background-repeat: no-repeat;
						background-size: 90px;

						span {
							@include vertical-align;
							position: absolute;
						}
					}

					span {
						line-height: normal;
					}
				}

				.keywords {
					line-height: 27px;
					font-size: 14px;
					font-size: #000;
					border-bottom: 1px solid #E8E8E8;
				}

				ul {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						.taxonomy-title {
							margin: 25px 0 15px;
							font-size: 16px;
							font-weight: bold;
						}

						p {
							margin: 0;
							font-size: 14px;
							color: $font-color;
						}
					}
				}
			}
		}
	}
}

/***************/
/* links boxes */
/***************/

.links-boxes {
	.box-wrap {
		.box {
			position: relative;
			margin-bottom: 30px;
			padding-top: 89.04109589%;

			a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				display: block;

				.text-wrap {
					.icon {
						margin-bottom: 10px;
					}

					text-align: center;
					@include vertical-align;

					.main-title {
						margin-bottom: 10px;
						font-size: 13px;
						font-weight: bold;
						color: #FFF;
					}

					.sub-title {
						font-weight: bold;
						color: #FFF;
					}
				}
			}
		}
	}
}

/********************/
/* hmembership form */
/********************/

.hmembership-form {
	table {
		tr {
			padding: 0 20px;
			display: block;

			&.email,
			&.password,
			&.text,
			&.select {
				margin-bottom: 20px;

				input {
					padding: 6px 10px;
				}
			}

			&.select {
				select {
					padding: 6px 10px;
					width: 100%;
					height: 39px;
					background-color: #FFF;

					&[multiple] {
						height: auto;
					}
				}
			}

			&.fieldset {
				label {
					input[type="checkbox"] {
						@include checkbox-style;
					}

					span {
						p {
							display: inline;

							a {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		.pre-text {
			margin: 35px 0 10px;
			display: inline-block;
		}

		.post-text {
			margin-top: 35px;
		}
	}

	.hmembership-form-button {
		margin: 20px 0 0 20px;
	}

	.ajax-loading {
		margin-top: 20px;
	}

	.result {
		margin-left: 20px;
	}
}

/***********************/
/* login/register form */
/***********************/

.form-section {
	margin-bottom: 20px;

	.form-wrap {
		margin-bottom: 50px;

		.form-title {
			margin-bottom: 50px;
			line-height: 24px;
			font-size: 20px;
			font-weight: bold;
		}

		.error-msg {
			margin-bottom: 15px;
		}

		form {
			table {
				width: 100%;
			}

			fieldset {
				margin-bottom: 20px;

				label {
					display: block;

					p {
						display: inline;
					}
				}
			}

			input {
				margin-bottom: 20px;

				&[type="checkbox"] {
					@include checkbox-style;
				}
			}
		}

		.alternate-desc {
			margin: 0;
			height: 118px;
		}

		button {
			margin: 0 20px 20px 0;
			vertical-align: baseline;
		}
	}
}

/*******************/
/* bootstrap modal */
/*******************/

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
	margin: 0;
}

.modal {
	z-index: 10000;
	outline: none;

	.modal-dialog-centered {
		max-width: 500px;
		min-height: calc(100% - (1.75rem * 2));
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.modal-dialog-fullscreen {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;

		.modal-content {
			height: 100%;
			border: 0;
			border-radius: 0;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;

			.modal-body {
				top: 5%;
			}
		}
	}

	.modal-content {
		width: 100%;

		.modal-body label h6 {
			margin: 5px 0 0;
		}

		.modal-header {
			padding: 20px;
			min-height: unset;
			border: 0;
			overflow: hidden;

			.modal-title {
				display: inline-block;
			}

			button {
				position: absolute;
				margin: 0;
				top: 20px;
				right: 20px;
				width: 14px;
				height: 25px;
				background: url('../images/icons/close.png') center center no-repeat;
				@include opacity(1);
			}
		}

		.pre-text {
			padding: 20px;
			color: #6c757d;
			display: none;
		}

		.modal-footer {
			.btn-primary,
			.btn-secondary {
				margin: 0;
				padding: 6px 12px;
				width: auto;
				line-height: 26px;
				font-family: 'Oswald', Arial, sans-serif;
				font-weight: normal;
				color: #FFF;
				text-transform: uppercase;
				border: 0;
				border-radius: 4px;
				display: inline-block !important;
			}

			.btn-primary {
				background-color: #007bff;
				border-color: #007bff;

				&:hover,
				&:focus {
					background-color: #0069d9;
					border-color: #0062cc;
				}
			}

			.btn-secondary {
				background-color: #6c757d;
				border-color: #6c757d;

				&:hover,
				&:focus {
					background-color: #5a6268;
					border-color: #545b62;
				}
			}
		}
	}

	&.left,
	&.right {
		.modal-dialog {
			position: fixed;
			margin: auto;
			width: 375px;
			@include transform(translate3d(0%, 0, 0));
			@include box-shadow(0, 32px, rgba(187,187,187,0.56), 32px, 0);
		}

		.modal-content {
			height: 100%;
			overflow-y: auto;
		}
	}

	&.left {
		.modal-dialog {
			left: -375px;
			-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
			   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
			     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
			        transition: opacity 0.3s linear, left 0.3s ease-out;
		}

		&.in {
			.modal-dialog {
				left: 0;
			}
		}
	}

	&.right {
		.modal-dialog {
			right: -375px;
			-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
			   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
			     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
			        transition: opacity 0.3s linear, right 0.3s ease-out;
		}

		&.in {
			.modal-dialog {
				right: 0;
			}
		}
	}
}

.modal-backdrop {
	background-color: transparent;
    @include transition(all, .15s);
    opacity: 0 !important;
}

/**************/
/* menu modal */
/**************/

#modal-menu {
	.modal-content {
		background-color: #FFF;

		.modal-body {
			.nav-main {
				.sf-menu {
					margin: 0 auto;
					width: 80%;

					li {
						float: none;
						margin-bottom: 10px;
						display: block;
					}
				}
			}
		}
	}
}

/****************/
/* search modal */
/****************/

#modal-search {
	.modal-content {
		.modal-body {
			top: 10%;
			padding: 0;
			max-height: calc(90% - 60px);
			overflow-y: auto;
			text-align: center;

			.search-header {
				float: none;
				margin: 0;
				width: 100%;
				max-width: 300px;
			}
		}
	}
}

/*************************/
/* category filter modal */
/*************************/

#modal-category-filter {
	.modal-content {
		.modal-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 115px;
			background: #FFF;
			z-index: 10;

			.reset-filters {
				float: left;
				position: relative;
				padding-right: 20px;
				font-size: 14px;
				font-weight: bold;
				cursor: pointer;

				&:after {
					content: "";
					position: absolute;
					top: 0px;
					right: 0px;
					width: 20px;
					height: 100%;
					background: url('../images/icons/filter.png') right center no-repeat;
				}
			}

			.filter-title {
				margin: 50px 0 0;
				font-size: 18px;
				font-weight: bold;
			}
		}

		.modal-body {
			top: 0;

			ul {
				margin: 0;
				list-style: none;

				li {
					position: relative;
					font-size: 14px;
					color: #000;

					label {
						margin: 0;
						display: block;
						cursor: pointer;

						input {
							@include checkbox-style;
						}

						.expand {
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							width: 12px;
							background: url('../images/icons/plus.png') center center no-repeat;
						}
					}

					ul {
						padding-left: 18px;
						display: none;
					}

					&.open {
						& > label {
							.expand {
								background: url('../images/icons/minus.png') center center no-repeat;
							}
						}

						& > ul {
							display: block;
						}
					}
				}
			}

			& > ul {
				padding: 100px 0 80px;

				& > li {
					line-height: 50px;
					border-bottom: 1px solid #E8E8E8;

					& > label {
						.expand {
							height: 50px;
						}
					}

					ul {
						li {
							line-height: 35px;

							label {
								font-weight: normal;

								.expand {
									height: 35px;
								}
							}
						}
					}

					&.open {
						& > ul {
							margin: -7.5px 0 7.5px;
						}
					}
				}
			}

			.no-terms {
				padding-top: 135px;
			}

			.apply-filters {
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100px;
				background-color: #FFF;

				span {
					margin: 25px auto;
					width: 335px;
					height: 50px;
					line-height: 50px;
					background-color: $color-1;
					@include border-radius(24.5px);
					font-size: 16px;
					font-weight: bold;
					color: #000;
					text-align: center;
					display: block;
					cursor: pointer;
				}
			}
		}
	}
}

/************/
/* ACF form */
/************/

.acf-form {
	.acf-form-submit {
		padding: 15px 12px;

		input {
			border: 3px solid #CCC !important;
		}
	}
}

/*****************/
/* accessibility */
/*****************/

#pojo-a11y-toolbar {
	.pojo-a11y-toolbar-toggle {
		-webkit-box-shadow: none !important;
		-moz-box-shadow:    none !important;
		box-shadow:         none !important;

		a {
			color: $font-color !important;
			background-color: transparent !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow:    none !important;
			box-shadow:         none !important;
			outline: none;
		}
	}

	.pojo-a11y-toolbar-overlay {
		border-color: $font-color !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow:    none !important;
		box-shadow:         none !important;
	}
}

/***************/
/* GDPR banner */
/***************/

#cookie-law-info-bar[data-cli-style="cli-style-v2"] {
	.cli-style-v2 {
		display: block;

		.cli-bar-message {
			margin-bottom: 20px;
			width: 100%;
			display: block;
		}

		.cli-bar-btn_container {
			margin: 0;
			width: 100%;
			text-align: left;
			display: block;

			.cli-plugin-button {
				margin: 0 20px 20px 0;
				padding: 10.5px 27px;
				line-height: 1.5;
				font-weight: bold;
				@include border-radius(24.5px);
			}
		}
	}
}

/**************/
/* responsive */
/**************/

@import "../../../scoop-child-v2/assets/css/responsive.css";