@media (max-width: 1499px) {
	body:before {
		content: "1499";
	}
}

@media (max-width: 1199px) {
	body:before {
		content: "1199";
	}
}

@media (max-width: 991px) {
	body:before {
		content: "991";
	}
}

@media (max-width: 767px) {
	body:before {
		content: "767";
	}
}

@media (max-width: 480px) {
	body:before {
		content: "480";
	}
}

@media (max-width: 1499px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

@media (min-width: 1500px) {}

@media (min-width: 1200px) {}

@media (min-width: 992px) {}

@media (min-width: 768px) {}

@media (min-width: 481px) {}

@media (min-width: 1200px) and (max-width: 1499px) {}

@media (min-width: 992px) and (max-width: 1499px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1499px) {}

@media (min-width: 768px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 1499px) {}

@media (min-width: 481px) and (max-width: 1199px) {}

@media (min-width: 481px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 767px) {}