@import "functions";

/************/
/* nav-main */
/************/

.nav-main {
	.sf-menu {
		& > li {
			& > a {
				&:before {
					content: "";
					position: absolute;
					top: 8px;
					left: -30px;
					background-repeat: no-repeat;
					z-index: -1;
				}
			}

			&:nth-child(4n+1) > a:before { width: 73px; height: 53px; background-image: url('../images/buttons/oval1a.png'); }
			&:nth-child(4n+2) > a:before { width: 73px; height: 53px; background-image: url('../images/buttons/oval2a.png'); }
			&:nth-child(4n+3) > a:before { width: 70px; height: 56px; background-image: url('../images/buttons/oval3a.png'); }
			&:nth-child(4n+4) > a:before { width: 62px; height: 56px; background-image: url('../images/buttons/oval4a.png'); }
		}
	}
}

/***************/
/* main banner */
/***************/

.main-banner {
	.slide {
		.text-wrap {
			background-color: #FFF;
		}
	}
}

/********************/
/* category archive */
/********************/

body.archive {
	#primary {

		/******************/
		/* archive header */
		/******************/

		header {

			/**********************/
			/* nav-sub-categories */
			/**********************/

			.nav-sub-categories {
				.sf-menu {
					& > li {
						& > a {
							&:before {
								content: "";
								position: absolute;
								top: 8px;
								left: -30px;
								background-repeat: no-repeat;
								z-index: -1;
							}
						}

						&:nth-child(4n+1) > a:before { width: 73px; height: 53px; background-image: url('../images/buttons/oval1a.png'); }
						&:nth-child(4n+2) > a:before { width: 73px; height: 53px; background-image: url('../images/buttons/oval2a.png'); }
						&:nth-child(4n+3) > a:before { width: 70px; height: 56px; background-image: url('../images/buttons/oval3a.png'); }
						&:nth-child(4n+4) > a:before { width: 62px; height: 56px; background-image: url('../images/buttons/oval4a.png'); }
					}
				}
			}
		}
	}
}

.mcelb.button {
	margin: 0;
	padding: 10.5px 27px;
	line-height: 1.5;
	vertical-align: baseline;
	font-size: 15px;
	font-weight: bold;
	color: $font-color;
	background-color: $color-1;
	border: 0 !important;
	@include border-radius(24.5px);
	@include transition(all, .2s);

	&:hover {
		color: $font-color;
		background-color: $color-2;
		background-image: unset;
		@include transition(all, .2s);
	}
}

/**********/
/* footer */
/**********/

.footer {
	background-color: $color-1;
}

/**************/
/* menu modal */
/**************/

#modal-menu {
	.modal-content {
		background:	url('../images/bg/jerusalem.png') 0 calc(100% - 28px) no-repeat,
					url('../images/bg/line.png') 65% calc(100% - 13px) no-repeat,
					url('../images/bg/girl.png') 100% calc(100% - 12px) no-repeat;
		background-size: 220px, calc(100% - 335px) 85.5px, 120px;
		background-color: #FFF;
	}
}

/**************/
/* responsive */
/**************/

@import "../../../scoop-child-v2/assets/css/skin1-responsive.css";