@import "functions";

/************/
/* nav-main */
/************/

.nav-main {
	.sf-menu {
		li {
			a {
				&:before {
					left: auto;
					right: -30px;
				}
			}
		}
	}
}

/********************/
/* category archive */
/********************/

body.archive {
	#primary {

		/******************/
		/* archive header */
		/******************/

		header {

			/**********************/
			/* nav-sub-categories */
			/**********************/

			.nav-sub-categories {
				.sf-menu {
					& > li {
						& > a {
							&:before {
								left: auto;
								right: -30px;
							}
						}
					}
				}
			}
		}
	}
}

/**************/
/* responsive */
/**************/

@import "../../../scoop-child-v2/assets/css/skin1-responsive-rtl.css";